SECRET_KEY=django-insecure-test-key
MIDTRANS_SERVER_KEY=SB-Mid-server-sandbox-server-key
MIDTRANS_CLIENT_KEY=SB-Mid-client-sandbox-client-key
DATABASE_URL=postgresql://postgres:Zikrafdly@123@db.llvikglagrvjofjpmzkg.supabase.co:5432/postgres
